<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "PokerPlan", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container-fluid">
        <nav>
          <ul>
            <li><a href="aboutit">About The Game</a></li>
            <li><a href="https://github.com/eudovic/poker_plan">Repository</a></li>
          </ul>
        </nav>
        <a class="phx-logo" href="/">
          <img src={Routes.static_path(@conn, "/images/pokerplan-logo.png")} alt="Poker plan Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
